.Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    margin-top: 63px;
}

.Banner_title {
    font-size: 48px;
    color: #fff;
    font-weight: 500;
    z-index: 3;
}

.Banner_bg_dark {
    height: 223px;
    width: 100%;
    max-width: 1240px;
    position: absolute;
    background-color: #000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 25px;
    z-index: 2;
}


.Banner_img {
    height: 223px;
    width: 100%;
    max-width: 1240px;
    position: absolute;
    border-radius: 25px;
    object-fit: cover;
    z-index: 1;
}

@media screen and (max-width: 991px) {
    .Banner {
        height: 200px;
        margin-top: 30px;
    }

    .Banner_title {
        font-size: 38px;
    }
}

@media screen and (max-width: 767px) {
    .Banner {
        margin-top: 16px;
        height: 111px;
    }

    .Banner_bg_dark {
        height: 111px;
        width: 335px;
        border-radius: 10px;
    }

    .Banner_img {
        height: 111px;
        width: 335px;
        border-radius: 10px;
    }

    .Banner_title {
        font-size: 24px;
        height: 48px;
        width: 217px;
    }
}