.Error {
    text-align:  center;
    color: #ff6060;
    margin-bottom: 159px;
}

.Error_title {
    font-size: 288px;
}

.Error_subtitle {
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;
    margin: 66px 0 182px;
}

.Error_link {
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
}