.Error {
    text-align:  center;
    color: #ff6060;
    margin-bottom: 159px;
}

.Error_title {
    font-size: 288px;
}

.Error_subtitle {
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;
    margin: 66px 0 182px;
}

.Error_link {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 767px) {

    .Error_title {
        font-size: 96px;
        margin-top: 195px;
    }

    .Error_subtitle {
        font-size: 18px;
        margin: 11px 0 133px;
    }

    .Error_link {
        font-size: 14px;
    }
}